settings.ini
data/multi.log
data/event.log
data/maps/nameplate.dds
changelog.txt
AVPoV-shots.lnk
AVPoV-videos.lnk

data/cache/

data/tables/*.disabled
data/scripts/*.disabled
data/maps/sub-*
data/maps/-.dds

data/tables/screencam*
data/models/marker.pof
data/maps/invisiblebta.dds

data/tables/aspov-adjustGunshipWeapons-sct.tbm_
data/music/PST_Sigil-arv.ogg
data/music/PST_Sigil-btl1.ogg
data/music/PST_Sigil-btl2.ogg
data/music/PST_Sigil-btl3.ogg

data/scripts/*.bak

data/missions/*.bak
data/missions/Backup.*
data/missions/torpedoes.fs2
data/missions/Z_*
data/missions/0_Outnumbered*
data/missions/0_Arena.fs2

*~
